body {
  background: #2b2929;
  color: white;
}

#todo-list {
  margin-top: 80px;
  border-radius: 2px;
}

.card{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border: none;
  background: #424242;
  color: rgba(255, 255, 255, 0.7)
  
}

.card-header {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05) !important;
  color: white;
}

.card-body, .list-group-item {
  background: #424242;
  color: rgba(255, 255, 255, 0.7)
}

.card-body {
  padding-bottom: 0px;
}

.card-body h6{
  font-size: 12px;
  margin-top: 25px;
  color: white;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
.list-group-item:hover, .list-group-item.active{
  background: #333333;
  border-top: 1px solid #3b3838;
  border-bottom: 1px solid #3b3838;
}
.list-group-item.active .form-check{
  text-decoration: line-through;
}

.input-underlined {
  border: 0;
  border-bottom: 1px solid rgba(249, 249, 249, 0.94);
  width: 93%;
  padding: 10px;
  margin: 5px 0 10px 0;
  font-size: 16px;
  background: transparent;
  color: white;
}
.add-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #e57373;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 1.1rem;
}
.btn-submit, .btn-close {
  cursor: pointer;
}
.btn-submit:hover, .btn-close:hover {
  color: white;
}