body{
    margin: 0;
    color: #757571;
    font-family: sans-serif;
    background: #ffffff;
}

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    padding: 20px 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,.97);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
}
.nav h1 a{
    font-size: 22px;
    color: white;
    margin-right: auto;
    display: inline-block;
}
.btn {
    padding: 15px 0;
}
.btn a, input.btn{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #03a87c;
    color: #03a87c;
    background-color: transparent;
    font-size: 13px;
    cursor: pointer;
    /* margin: 20px 0; */
    transition: all 0.3s;
}
.btn a:hover, input.btn:hover {
    border: 1px solid #03a87c;
    color: white;
    background-color: #03a87c;
}
.btn a {
    color: #03a87c;
}
.btn-no-outline a {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    background: transparent;
    margin-right: 10px;
}
.btn-no-outline a:hover {
    color: rgba(0,0,0,.9);
    font-size: 13px;
}

.container {
    margin-top: 90px;
    margin-bottom: 80px;
}


.main {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
}

.main h2 {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}
.main h4 {
    font-size: 15px;
    margin-top: 20px;
    line-height: 20px
}

.message{
    margin-top: 40px;
    text-align: right;
}
.message-tx {
    text-align: left;
    font-size: 16px;
    color: rgba(0,0,0,.9);
    margin-bottom: 10px;
}
#message__box{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    font-size: 16px;
    margin-bottom: 10px;
}
.posts {
    margin-top: 30px;
}
.post{
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
}

.post ~ .post{
    margin-top: 20px;
}

.post__nickname {
    font-size: 16px;
    color: #03a87c;
    margin-bottom: 5px;
}
.post__date {
    font-size: 12px;
    color: #acaca6;
}
.post__content {
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    color: rgba(0,0,0,.7);
}

.register-form {
    margin-top: 40px;
    text-align: center;
}
.register-form label {
    color: rgba(0, 0, 0, 0.8)
}
.input-underlined {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    width: 60%;
    text-align: center;
    padding: 10px 5px;
    margin: 5px 0 30px 0;
    font-size: 15px;
}
.welcome {
    margin-right: 20px;
    display: inline-block;
    color: #03a87c;
}

